<div class="wrapper">
    <h1>uPhotos</h1>
    <div id="formContent">
        <div class="row">
            <div class="col-6 p-4">
                <form>
                    <input type="text" id="login" name="login" placeholder="Username">
                    <input type="password" id="password" name="login" placeholder="Password">
                    <input type="password" id="passwordConfirm" name="login" placeholder="Confirm Password">
                </form>
            </div>
            <div class="col-6 p-4">
                <img src="../../assets/hiclipart.com.png" alt="usr" style="width: 100px; height: 100px;" class="img-thumbnail mb-4">

                <input class="mt-4" type="file" name="" id="">
            </div>
        </div>
        <input type="button" value="Registrar">
    </div>
</div>