<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <!-- style="background-color: #5fbae9;" -->
  <a class="navbar-brand" routerLink="/user">uPhotos</a>
</nav>

<div class="wrapper mt-5">
    <!-- <h1>uPhotos</h1> -->
    <div id="formContent">
        <div class="row">
            <div class="col-md-5 p-4">
                <form>
                    <input type="text" id="login" name="login" placeholder="User" (keyup)="user($event)">
                    <input type="password" id="password" name="login" placeholder="Password" (keyup)="pass($event)">
                    <input type="button" value="Log In" (click)="login()">
                    <hr>
                    <a href="" routerLink="/signin">Crear Nueva Cuenta</a>
                </form>
            </div>
            <div class="col-md-6 p-4">
                <div style="text-align:center">
                    <div>
                        <webcam [height]="250" [width]="250" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
                            *ngIf="showWebcam" [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
                            [videoOptions]="videoOptions" (cameraSwitched)="cameraWasSwitched($event)"
                            (initError)="handleInitError($event)"></webcam>
                        <br />
                        <button (click)="triggerSnapshot();" type="button" class="btn btn-success btn-sm m-6"> 📸 </button>
                        <button (click)="showNextWebcam(true);" type="button" class="btn btn-primary btn-sm m-6"> 🔁 </button>
                    </div>
                </div>
                <h4 *ngIf="errors.length > 0">Messages:</h4>
                <ul *ngFor="let error of errors">
                    <li>{{error | json}}</li>
                </ul>
            </div>
        </div>

        <!-- <input type="file" name="" id=""> -->
    </div>
</div>
