<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="margin-top:20px;">

    <input *ngFor="let album of albums; let i = index;" type="button" value={{album}} class="btn btn-primary m-3" (click) = "change(i)">

    <h1>{{actualAlbum}}</h1>

    <div class="tab-content" id="pills-tabContent">
        <div class="row">
            <div *ngFor="let img of actualData;" class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a href={{img}}
                    class="fancybox" rel="ligthbox">
                    <img src={{img}} class="zoom img-fluid " alt="">
                </a>
            </div>
        </div>
    </div>
</div>