<app-nav-bar></app-nav-bar>
<div class="container-fluid" style="margin-top:20px;">
    <div class="row">
        <div class="col-lg-9 col-md-8 mb-4">
            <h1>Galeria</h1>
        </div>
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="custom-file">
                <input #imageInput type="file" accept="image/*" class="custom-file-input" id="customFile"
                    (change)="processFile(imageInput)">
                <label class="custom-file-label text-left" for="customFile">Seleccionar imagen</label>
            </div>
        </div>

        <div *ngFor="let img of data;" class="col-lg-3 col-md-4 col-xs-6 thumb">
            <a href={{img}}
                class="fancybox" rel="ligthbox">
                <img src={{img}} class="zoom img-fluid " alt="">
            </a>
        </div>
    </div>
</div>